<%- include("header") %> 
<h1>Lorem ipsum!</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, aliquid natus?</p> 
<p>Atque rerum libero, culpa quod eveniet nesciunt omnis sint! Sunt ratione autem error id.</p>  
<p> Dignissimos quod sapiente soluta molestiae?</p>

<%- include("footer") %> 